/* :root - специфичный аналог селектора <html> в CSS*/
/* Указываются */
/* CSS-переменные (кастомные свойства) */
:root {
  /* #757575 - p, header - a(email) и a(tel) - не активные */
  --main-text-color: #757575;
  /* #212121 - h2, h3, a(nav in header) - не активный*/
  --second-text-color: #212121;
  /* #2196F3 - logo, a(nav):hover, button(background)*/
  --acsent-color: #2196f3;
  /* #FFFFFF - background-page, h1, button(text), footer - logo, adress (почтовый адрес) */
  --main-white-color: #ffffff;
  /* #2F303A - background-hero, background-footer */
  --background-grey-color: #2f303a;
  /* #F5F4FA - background-section-team */
  --background-section-color: #f5f4fa;
  /* #000000 - logo(header)*/
  --main-black-color: #000000;
  /* rgba(255,255,255,0.6) - adress (tel,email) */
  --text-footer-tel-color: rgba(255, 255, 255, 0.6);
  /* #ECECEC - обводка-header + line в index.html (между header и main)*/
  --stroke-index-color: #ececec;
  /* #EEEEEE - обводка карточки в portfolio.html */
  --stroke-portfolio-color: #eeeeee;
}

/* Палитра основных цветов */
/* #757575 - p, a(email) и a(tel) - не активные */
/* #212121 - h2, h3, a(nav in header) - не активный*/
/* #2196F3 - logo, a(nav):hover, button(background)*/
/* #FFFFFF - background-page, h1, button(text), footer - logo, adress (почтовый адрес) */
/* #2F303A - background-hero, background-footer */
/* #F5F4FA - background-section-team */
/* #000000 - logo(header)*/
/* rgba(255,255,255,0.6) - adress (tel,email) */
/* #ECECEC - обводка-header + line в index.html (между header и main)*/
/* #EEEEEE - обводка карточки в portfolio.html */

/* Шрифты */

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.raleway {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Задание всем элементам свойства box-sizing: border-box; */
html {
  box-sizing: border-box;
}

/* Наследование свойств для элемента от ближайшего предка */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Обнуление отступов для заголовков и абзаца */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Тело сайта */
body {
  /* Обнуление внешних отступов для тела сайта */
  margin: 0px;
  background-color: var(--main-white-color);
  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

/* Утилиты */

/* Класс для настройки ссылок - может быть вторым классом для тегов <a>  */
.link {
  /* Убрать подчеркивание для ссылки */
  text-decoration: none;
}

/* Класс для настройки всех перечней - может быть вторым классом в тегах ul */
.list {
  /* Сбросить все отступы по умолчанию */
  margin: 0;
  padding: 0;
  /* Убрать первые точечки в неупорядоченном списке */
  list-style: none;
}

/* Это класс, который ограничивает контент размером сетки и устанавливает отступы */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}

/* Верхняя строка - header */
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border: var(--stroke-index-color) solid 1px;
}

.page-header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Логотип - общие свойства */
.logo {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 3%;
}
/* Логотип - синяя часть текста */
.logo-blue {
  color: var(--acsent-color);
}
/* Логотип - черная часть текста - в header */
.logo-black {
  color: var(--main-black-color);
}
/* Логотип - белая часть текста - в footer */
.logo-white {
  color: var(--main-white-color);
}

/* Стилизация header */
/* Стилизация меню .nav-site */
.nav-site {
  display: flex;
  flex-direction: row;
  gap: 50px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.nav-site .link {
  color: var(--second-text-color);
}
/* При наведении мышки или при получении фокуса */
.nav-site .link:hover,
.nav-site .link:focus {
  color: var(--acsent-color);
}

/* Правило - другой цвет ссылки , если ссылка указывает на текущую страницу */
/* Обязательно .link.current БЕЗ ПРОБЕЛА, тогда применяется class="link current" */
.nav-site .link.current {
  color: var(--acsent-color);
}

/* Стилизация меню .nav-adress */
.nav-adress {
  display: flex;
  flex-direction: row;
  gap: 50px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.nav-adress .link {
  color: var(--main-text-color);
}
/* При наведении мышки или при получении фокуса */
.nav-adress .link:hover,
.nav-adress .link:focus {
  color: var(--acsent-color);
}

/* hero - Приветствие к кнопкой call-to-action */
.hero {
  /* Выравнивание заголовка и кнопки по центру */
  text-align: center;
  /* Внутренние отступы */
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--background-grey-color);
}
.hero-title {
  outline: tomato solid 1px;
  /* Обнуление внешних отступов, которые устанавлены для h1 по умолчанию */
  margin-top: 0;
  /* Расстояние до кнопки */
  margin-bottom: 30px;

  color: var(--main-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  /* Выравнивание этого текстового блока по центру */
  text-align: center;
}

.hero-button {
  color: var(--main-white-color);
  background-color: var(--acsent-color);
  /* Радиус скругления углов кнопки */
  border-radius: 4px;
  /* Обводка кнопки - отсутствует */
  border: none;
  /* Внутренние отступы от края кнопки до текста */
  padding-left: 32px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  /* Шрифт названия кнопки */
  /* Для кнопки - обязательное указание шрифта или указание унаследования (по умолчанию, заданный ранее) */
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875; /* 30 px*/
  letter-spacing: 0.06em;
}

.hero-button:hover {
  /* Вид курсора при наведении на кнопку */
  cursor: pointer;
}

.hero-button:active {
  /* Меняется цвет фона кнопки при нажатии на кнопку */
  background-color: var(--main-black-color);
}

/* Секции  */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding-bottom {
  padding-bottom: 0;
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* Только для секции Преимущества убирает вывод на экран заголовка */
/* .section-title.feature {
  visibility: hidden;
}  */

.feature-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

/* feature - Особливості - Преимущества */
.feature-list .title {
  margin-bottom: 10px;
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* Для всех єлементов списка Преимущества */
.feature-list > .item:nth-child(2n) {
  background-color: var(--acsent-color);
}

.feature-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71428; /* 24px */
  letter-spacing: 0.03em;
}

/* work - Роботи */
.work-list {
  display: flex;
  flex-direction: row;
  /* Расстояние между видами работ  */
  gap: 30px;
}

/* team - Команда */
.team {
  background-color: var(--background-section-color);
}

.team .team-list {
  display: flex;
  flex-direction: row;
  /* Расстояние между карточками работников */
  gap: 30px;
}

.team-list-item .photo {
  margin-bottom: 30px;
}

.team-list-item .name {
  margin-bottom: 10px;
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.team-list-item .type-worker {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* Portfolio */

.portfolio-title {
  text-align: center;
  color: var(--main-black-color);
}

/* filter - Фильтры */
.filter-title {
  text-align: center;
  color: var(--main-black-color);
}

.filter-list {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
}

.filter-button {
  color: var(--second-text-color);
  background-color: var(--background-section-color);
  /* Радиус скругления углов кнопки */
  border-radius: 4px;
  /* Обводка кнопки - отсутствует */
  border: none;
  /* Внутренние отступы от края кнопки до текста */
  padding-left: 22px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  /* Шрифт */
  /* Для кнопки - обязательное указание шрифта или указание унаследования (по умолчанию, заданный ранее) */
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625; /* 26px */
  letter-spacing: 0.03em;
}

.filter-button:hover {
  color: var(--main-white-color);
  background-color: var(--acsent-color);
  /* Вид курсора при наведении на кнопку */
  cursor: pointer;
}

.filter-button.current {
  color: var(--main-white-color);
  background-color: var(--acsent-color);
}

/* project - Проэкты */
.project-title {
  text-align: center;
  color: var(--main-black-color);
}

.project-list {
  display: flex;
  flex-direction: row;
  /* Если элементы не вмещаются в строку, то они перепрыгивают на следующую строку */
  flex-wrap: wrap;
  /* Расстояние между карточками (вертикальное и горизонтальное - одинаковое */
  gap: 30px;
}

.project-link {
  text-decoration: none;
  display: inline-block;
  line-height: 0;
}

.project-name-type {
  padding: 20px;
  border: var(--stroke-portfolio-color) solid 1px;
  text-align: left;
}

.project-name {
  margin-bottom: 4px;
  color: var(--second-text-color);
  /* Шрифт */
  font-weight: 700;
  font-size: 18px;
  line-height: 2; /* 36px */
  letter-spacing: 0.06em;
}

.project-type {
  color: var(--main-text-color);
  /* Шрифт */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875; /* 30px */
  letter-spacing: 0.03em;
}

/* footer */
footer {
  background-color: var(--background-grey-color);
}

footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Почтовый адрес */
address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71428; /* 24px */
  letter-spacing: 0.03em;
}
address .description {
  margin-top: 20px;
  margin-bottom: 9px;
  color: var(--main-white-color);
}
/* Email */
address .email {
  margin-bottom: 9px;
  color: var(--text-footer-tel-color);
}
address .email:hover,
address .email:focus {
  color: var(--acsent-color);
}
/* Телефон */
address .tel {
  color: var(--text-footer-tel-color);
}
address .tel:hover,
address .tel:focus {
  color: var(--acsent-color);
}
